<article class="post">
    <!-- Personal Display -->
    <section class="post-top">
        <!-- <PersonDisplay data={data} show-icon={true} /> -->
       <app-personal-avatar-with-identity-display
            [person]="post.person"
            [createdAt]="post.createdAt"
       ></app-personal-avatar-with-identity-display>

    </section>

    <!-- Post Content -->
    <section class="post-content">
        <p>
           {{ post.content }}
        </p>
        <p class="content-reactions">
            <i class="far fa-thumbs-up"></i>
            <span class="margin-left-quarter"> {{ post.likes }}</span>
            <span clas="margin-left-quarter"> reactions</span>
        </p>
        <!-- {reactPopup} -->
    </section>

    <section class="post-commands">
        <div>
            <button class="post-button">
                <i class="far fa-thumbs-up"></i>
                <span>Reaction</span>
            </button>
        </div>
        <div>
            <button
            class="post-button">
            <i class="far fa-comment"></i>
            <span>Comment</span>
        </button>
        </div>
        <div>
            <button
            class="post-button">
            <i class="fas fa-share"></i>
            <span>Share</span>
        </button>
        </div>

    </section>

    <!-- Comment Session -->
    <!-- Your comment session -->
    <!-- Other Peoples' comment -->
    <!-- <app-social-media-post-card-comment-component></app-social-media-post-card-comment-component>
    <app-social-media-post-card-comment-component></app-social-media-post-card-comment-component>
    <app-social-media-post-card-comment-component></app-social-media-post-card-comment-component> -->


</article>
<!-- https://codepen.io/takaneichinose/pen/poPGgrw -->