<article class="post">
    <!-- Personal Display -->
    <section class="post-top">
        <!-- <PersonDisplay data={data} show-icon={true} /> -->
        <div class="post-avatar">
            <ngx-avatar
            size="80"
           name="Haithem Mosbahi" 
           src="https://3.bp.blogspot.com/-xT36Kpq_T_E/W1a5CIwueAI/AAAAAAABNjc/nkwOIiInph0FSJ3cpJHdE1Ghu60HX5BfgCLcBGAs/s800/niyakeru_takuramu_ayashii_man.png"></ngx-avatar>
        </div>
        <div class="post-identifier">     
			<p>
				<i class="far fa-user"></i>
				<a href="#" class="post-author-link margin-left-half">
					Leo Lo
				</a>
			</p>
			<p>
				<small>
					<i class="far fa-clock"></i>
					<time class="margin-left-half" datetime={data.DateTime}>
						2021 Aug 12 19:00
					</time>
				</small>
			</p>
		</div>

    </section>

    <!-- Post Content -->
    <section class="post-content">
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <p class="content-reactions">
            <i class="far fa-thumbs-up"></i>
            <span class="margin-left-quarter">100</span>
            <span clas="margin-left-quarter">reactions</span>
        </p>
        <!-- {reactPopup} -->
    </section>

    <section class="post-commands">
        <button
            class="post-button">
            <i class="far fa-thumbs-up"></i>
            <span>Reaction</span>
        </button>
        <button
            class="post-button">
            <i class="far fa-comment"></i>
            <span>Comment</span>
        </button>
    </section>


</article>
<!-- https://codepen.io/takaneichinose/pen/poPGgrw -->