

.post {
	color:  #ffffff;
	background-color: #242424;
	width: 100%;
	max-width:768px;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 1rem;
    margin-top: 1rem;
}

.post h1 {
		padding: 0;
		margin: 0;
}

.post h2 {
    padding: 0;
    margin: 0;
}

.post h3 {
    padding: 0;
    margin: 0;
}


.post h4 {
    padding: 0;
    margin: 0;
}

.post h5 {
    padding: 0;
    margin: 0;
}

.post p {
    padding: 0;
    margin: 0;
}

.post-top {
	color: #8a8a8a;
	padding: 1.2rem 0.75rem;
}



.post-content {
	padding: 0 1.2rem 0.75rem;
	border-bottom: solid 1px #dadada;
	position: relative;
}


.margin-left-half {
	margin-left: 0.5rem !important;
}

.margin-left-quarter {
	margin-left: 0.25rem !important;
}

.post-commands {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #dadada;
}


.post-button {
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	width: 100%;
	height: 3.1rem;
	padding: 0.75rem 2.75rem;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
}

.post-button:hover {
    background-color: rgb(112, 105, 105);
}

.content-reactions {
	color: #8a8a8a;
	padding-top: 0.75rem !important;
}

.post-button span{
    margin-left: 0.5rem;;
}



