/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import './styles/material-theme.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black;}

:root {
    --global-backgroundColor-primary-black: #242424;
    --global-backgroundColor-secondary-black: #3b3b3b;
    --global-color-primary-black: #dadada;
}

.light-theme {
    @include angular-material-theme($light-app-theme);
    @include theme-colors($light-app-theme);
    --app-background-color: #fff;
    --app-text-color:#242424;
    --app-side-bar-bg-color: #11468F;
    --app-side-bar-highlight-color: #A2D2FF;
    --app-side-bar-text-color: #FFF8F3;
}


.dark-theme {
    @include angular-material-color($dark-app-theme);
    @include theme-colors($dark-app-theme);
    --app-background-color: #242424;
    --app-text-color: #FFF8F3 ;
    --app-side-bar-bg-color: #242424;
    --app-side-bar-highlight-color: #ffc400;
    --app-side-bar-text-color: #FFF8F3;
}

.price-up {
    color: #B3FFAE
}

.price-down {
    color: #FF6464
}

// mat-dialog-container {
//     background-color: transparent !important;
//     padding: 0px 0px 0px 0px !important;
//     overflow: hidden !important;
// }

a {
    text-decoration: none;
}