/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    list-style: None;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --global-backgroundColor-primary: #242424;
    --global-backgroundColor-secondary: #3b3b3b;
}


mat-dialog-container {
    background-color: transparent !important;
    padding: 0px 0px 0px 0px !important;
    overflow: hidden !important;
  }