@import '~@angular/material/theming';

@include mat-core();


@mixin body-theme($theme) {
    $_background: map-get($theme, background);
    $app-background-color: mat-color($_background, background);
  
    body {
      background-color: $app-background-color;
    }
}

@mixin theme-colors($theme) {
    $_background: map-get($theme, background);
    $_foreground: map-get($theme, foreground);
    $_primary: map-get($theme, 'primary');
    $background-color: mat-color($_background, background);
    $foreground-color: mat-color($_foreground, text);
    $primary-color: mat-color($_primary);
    --app-background-color: #{$background-color};
    --app-background-dark-color: #{darken($background-color, 10%)};
    --app-foreground-color: #{$foreground-color};
    --app-primary-color: #{$primary-color};
  }


$light-app-theme: mat-light-theme((
        color: (
                primary: mat-palette($mat-indigo, 200),
                accent: mat-palette($mat-pink, A200, A100, A400),
                warn: mat-palette($mat-red)
        )
));

$dark-app-theme:  mat-dark-theme((
        color: (
                primary: mat-palette($mat-indigo, 200),
                accent: mat-palette($mat-amber, A400, A100, A700),
                warn: mat-palette($mat-red)
        )
));
