<div class="sidebar" fxLayout="column">
    <div>
        <h2>Stock Bar</h2>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" fxFlex>
        <div>
            <ul>
                <li [class.active]="isActive('home')"><a routerLink="/home" routerLinkActive="active"><i
                            class="fas fa-home"></i>Home</a></li>
                <li [class.active]="isActive('profile')"><a routerLink="/profile" routerLinkActive="active"><i
                            class="fas fa-user"></i>Profile</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li (click)="onLogout()"><a href="#"><i class="fas fa-sign-out"></i>Logout</a></li>
            </ul>
            <ul>
                <li>
                    <mat-slide-toggle style="color:white">
                        Dark Mode
                    </mat-slide-toggle>
                  </li>
            </ul>
        </div>

    </div>


</div>
