@import '../../../styles.scss';

.sidebar {
    background-color: var(--app-background-dark-color);
    width: 200px;
    height: 100%;
    z-index:99;
    position: fixed;
}

.sidebar h2 {
    color: var(--app-primary-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);

}

.sidebar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
    list-style: None;
}

.sidebar ul li a .fas {
    width: 25px;
}

.sidebar ul li:hover {
    background-color: #594f8d;
}

.sidebar ul li:hover a {
    color: #fff;
}

.sidebar ul li.active {
   color: #fff;
}

.sidebar ul li.active {
    background-color: #594f8d;
}