<div class="wrapped-avatar">
    <div class="post-avatar">
        <ngx-avatar
        [size]="avatarFigureSize"
       name="Haithem Mosbahi" 
       [src]="person.avatar"></ngx-avatar>
    </div>
    <div class="post-identifier">     
        <p>
            <i class="far fa-user"></i>
            <a href="#" class="post-author-link margin-left-half">
                {{ person.name }}
            </a>
        </p>
        <p>
            <small>
                <i class="far fa-clock"></i>
                <time class="margin-left-half" datetime={data.DateTime}>
                    {{ createdAt }}
                </time>
            </small>
        </p>
    </div>
</div>
