<div class="home-page">
    <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
      
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Home">
          <div *ngFor="let post of posts; index as i">
            <app-social-media-post-card-component
              [post]="post"
            ></app-social-media-post-card-component>
          </div>
        </mat-tab>
        <mat-tab label="Following">Following</mat-tab>
        <!-- <mat-tab label="Third">Content 3</mat-tab> -->
      </mat-tab-group>
</div>
