.app-container {
    display: flex;
    position: relative;
}

.main-container {
    left: 200px;
    width: 100%;
    /* margin-left: 200px; */
}

.main-container .center {
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
}

.main-container .header {
    padding: 20px;
    border-bottom: 1px solid #e0e4e8;
}


.main-container .right-bottom-pannel{
    position:fixed;
    width:450px;
    bottom:2px; right:0px;
    z-index:1000;
}

