<div fxLayout="column" fxFlex="100" style="height:600px;" fxLayoutGap="10px">

    <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
            <h1>New message or group</h1>  
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxFlex="10">
        <mat-label>
            To: 
        </mat-label>
        <input type="text" matInput style="width:80%; border:none; outline: none"/>

    </div>

    <div fxLayout="column" fxFlex="15">
        Create a New Group
    </div>

    <div fxLayout="column" fxFlex="35">
        Search Result
    </div>


    <!-- <div mat-dialog-content>
      <p>What's your favorite animal?</p>
      <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button>Create DM</button>
    </div>
 -->
    <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-around center">
        <button mat-button style="width:80%">Create DM</button>
    </div>
</div>

