<div class="ticker">
    <div>
        <div> 
           {{stock.name}}({{stock.code}})
        </div>
        <div>
            ${{stock.price}}
        </div>
    </div>
    <div class="separator">

    </div>
    <div>
        <div [ngClass]="{'price-up': stock.percent >= 0, 'price-down': stock.percent < 0}">
            {{stock.percent}}%
        </div>
        <div [ngClass]="{'price-up': stock.percent >= 0, 'price-down': stock.percent < 0}">
            {{stock.amount}}
        </div>
    </div>
</div>