.chat {
    height: 100%;
}
.chat-content {
    height: calc(100% - 4rem);
    flex-direction: column-reverse;
    position:relative;
    padding: 10px;
    overflow: scroll;
    color: var(--app-side-bar-text-color)
}


.chat-input {
    margin-top:8px;
    margin-bottom: 8px;
    color:var(--app-side-bar-text-color);

}

.send-button {
  color: var(--app-text-color) !important;
  border:none;
  background:transparent !important;
}

#w-input-container {
    width: 100%;
    min-height: 20px;
    box-sizing: border-box;
    padding: 9px 18px 11px;
    margin: 2px 4px;
    background-color: var(--app-side-bar-bg-color);
    border: 1px solid var(--app-side-bar-text-color);
    border-radius: 21px;
    display: inline-block;
  }
  
  .w-input-text-group {
    position: relative;
  }
  
  .w-placeholder {
    color: var(--app-side-bar-text-color);
    top: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
    transition: 0.2s padding ease-in-out;
  }
  
  #w-input-text {
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap:break-word;
    word-break: break-word;
    white-space: pre-wrap;
    user-select: text;
    z-index: 1;
    max-height: 100px;
    min-height: 20px;
    padding: 0 0 0 2px;
    outline: 0;
    transition: 0.2s padding ease-in-out;

  }
  
  #w-input-text:empty + .w-placeholder {
    opacity: 1;
  }
  
  #w-input-text:focus + .w-placeholder {
    padding: 0 6px 0px;
  }
  
  #w-input-text:focus {
    padding: 0 6px 0px;
  }

