<div class="chat" fxLayout="column">
    <div class="chat-content"  #scrollMe>
            <app-message *ngFor="let msg of messageList" [message]="msg"></app-message>
    </div>
    <div>

    </div>
    <mat-divider style="z-index:1000;"></mat-divider>
    <div class="chat-input" fxLayout="row">
        <div id="w-input-container" fxFlex="93">
            <div class="w-input-text-group">
              <div 
              id="w-input-text" 
              contenteditable
              (input)="onMessageInputChange($event.target)"
              (keydown.shift.enter)="onMessageSend()"
              #chatInput
              ></div>
              <div class="w-placeholder">
                Type a message
              </div>
            </div>
          </div>
          <div  fxLayout="row" fxFlex="7">
              <button class='send-button' (click)="onMessageSend()">
                  <mat-icon>send</mat-icon>
              </button>
          </div>


    </div>
</div>
