<div class="chat">
    <div class="chat-content"  #scrollMe>
            <app-message *ngFor="let msg of messageList" [message]="msg"></app-message>
    </div>
    <mat-divider></mat-divider>
    <div class="chat-input">
        <div id="w-input-container">
            <div class="w-input-text-group">
              <div id="w-input-text" contenteditable (input)="onMessageInputChange($event.target)"></div>
              <div class="w-placeholder">
                Type a message
              </div>
            </div>
          </div>
          <button style="background-color:transparent;color:white;border:none;" (click)="onMessageSend()">
            <mat-icon>send</mat-icon>
          </button>
    </div>
</div>
