<div class="editor-container">
    <div mat-dialog-title class="dialog-title">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
          <mat-icon >close</mat-icon>
        </button>
      </div>
      <div class="break-line"></div>
      <div class="editor-options">
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-dollar-sign fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-at fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-image fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-link fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-bold fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-italic fa-2xl"></i>
        </span>
        <span class="editor-options-icon">
            <i class="fas fa-solid fa-list fa-2xl"></i>
        </span>
      </div>
      <div class="break-line"></div>
      <div class="editor-content-title">
        <input placeholder="Title (Optional)">
      </div>
      <div class="editor-content-area">
            <div contenteditable="true" (keypress)="onKeyPress($event)">

            </div>
      </div>

</div>