.mat-expansion-panel {
    background-color: var(--global-backgroundColor-primary-black);
}

.mat-expansion-panel-header-title, .mat-expansion-indicator, .mat-expansion-indicator::after{
    color: var(--global-color-primary-black) !important;
}

.mat-expansion-panel-body {
    padding:0px !important;
    overflow: hidden;
}


.mat-expansion-indicator::after {
    transform: rotate(25deg) !important;
}

.mat-expansion-indicator::after {
    transform: rotate(225deg) !important;
}

.mat-expansion-panel {
    overflow: inherit !important;
}

.mat-expansion-panel-header.mat-expanded {
    position: sticky;
    top: 0;
}

.mat-expansion-panel-header {
    color: var(--global-color-primary-black) !important;
}


.mat-divider {
    border-top-color: var(--global-color-primary-black);
    position: sticky;
    top: 0;
}

.mat-list-base {
    padding-top: 0px !important;
    overflow-y:scroll; 
    position:relative;
    height:40rem;
    color: var(--global-color-primary-black);
}

.mat-list-item {
    color: var(--global-color-primary-black) !important;
}