<mat-expansion-panel #matExpansionPanel1>
  <mat-expansion-panel-header>
    <div fxLayout="row" (click)="$event.stopPropagation();" fxFlex="100">
      <!-- Chat Header -->
      <ng-template [ngIf]="isChat">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayoutAlign="space-between center" (click)="goBackMessageList()">
            <mat-icon>arrow_back</mat-icon>
          </div>
          <!-- Personal Info -->
          <div mat-raised-button fxLayout="row" fxLayoutGap="10px">
            <div>
              <ngx-avatar [size]="'40'"
                [src]="curChatRoom.avatar">
              </ngx-avatar>
            </div>
            <div fxLayoutAlign="space-between center">
              <mat-label>
                {{curChatRoom.name}}
              </mat-label>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- Message List Header -->
      <ng-template [ngIf]="!isChat">
        <div fxLayout="row" fxFlex="90" fxLayoutAlign="space-between center">
          <mat-label> Message </mat-label>
        </div>
        <div fxLayoutAlign="space around end" fxFlex="10" (click)="openCreateChatRoomDialog()">
          <mat-icon>quickreply</mat-icon>
        </div>
      </ng-template>
    </div>

  </mat-expansion-panel-header>
  <mat-divider></mat-divider>

  <div style="height:40rem;" >
    <ng-template [ngIf]="isChat">
      <app-message-chat></app-message-chat>
    </ng-template>
    <ng-template [ngIf]="!isChat">
      <mat-action-list>
        <button mat-list-item *ngFor="let msg of incomingMessageList" (click)="openChatRoom(msg)"> 
            <img matListAvatar [src]="msg.user.userProfile?.avatar" alt="...">
            <h3 matLine>
                {{msg.user.username}}
            </h3>
            <p matLine>
                <span>{{msg.content.text}}</span>
            </p>
        </button>
      </mat-action-list>
    </ng-template>

  </div>
</mat-expansion-panel>